<%content_for :head do -%>
  <%= javascript_tag 'cadastres'%>
<% end %>
<%= content_tag :div,
  id: "cadastre-form",
  data: {
    cadastre: cadastre.to_json(except: [:created_at, :updated_at])
  } do %>
  <label>Nome</label>
  <input type="text" v-model="cadastre.name" />
  <label>Cpf</label>
  <input type="text" v-model="cadastre.cpf" />
  <label>Telefone</label>
  <input type="text" v-model="cadastre.phone" />
  <br />
  <br />
  <button v-on:click="Submit">Cadastrar</button>
<% end %>